@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

@media only screen and (max-device-width: 650px) {
  .container {
    size: 85%;
    padding-left: 15%;
  }
}
/*about page*/
/* Five columns side by side */
.column {
  float: left;
  width: 17%;
  margin-bottom: 16px;
  padding: 0 15px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 90%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 15px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
/*end of about page*/

