@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: cover;
}
/*body*/
body{
    color: white;
    background: linear-gradient(to right, #1c1c1c, rgba(0,0,0), #111, #222);
    font-family: "Lato",san-serif;
}

/*start of navbar*/
.navbar{
    background: white;
    position: sticky;
    top:0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: black;
    z-index: 1;
    opacity: 0.8;
}
.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
       
}

.nav-icon{
    font-size: 1.5rem;
}

.logo{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}
#logo{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.light-mode {
  background: #fff;
  color: black;
  opacity: 5;
}
/*end of navbar*/

/*side menu*/
#mySidenav a {
  position: absolute; 
  left: -85px; 
  transition: 0.8s; 
  padding: 10px; 
  width: 100px; 
  text-decoration: none; 
  font-size: 20px; 
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; 
}

#index {
  top: 60px;
  background-color: #555;
}

#about {
  top: 110px;
  background-color: #555; 
}

#projects {
  top: 160px;
  background-color: #555; 
}

#events {
  top: 210px;
  background-color: #555; 
}

#awards {
  top: 260px;
  background-color: #555;
}

#contact {
  top: 310px;
  background-color: #555;
}

/*end of side menu*/

.content{
    margin: 0 auto;
    font-size: 1.2rem;
    padding-left: 40px;
       
}

/*footer*/
.p{
	color: white;
}

footer{
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: cover;
    float: bottom;
}


ul li{
    text-align: center;
    display: inline-block;
    margin-right: 1px;
    background: linear-gradient(to right, rgba(0,0,0), #222, #333, #444, #a4a4a4);
    padding: 2px 2px;
    border-radius: 3px 3px;
    cursor: pointer;
    transition: all 0.7s ease;
}

ul li:hover{
    font-size: 17px;
    
}

ul li a{
    color: #fff;
}
/*end of footer*/

/*media queries*/
@media screen and (max-width: 1200px) {
  body {
    size: 100%;
  }

  .content {
    size: 83%;
    padding-left: 17%;
  }

  #mySidenav a{
    left: 0;
    width: 40px;
    font-size: 12px;
    position: fixed;
  }

    #index {top: 60px;}

    #about {top: 100px;}

    #projects {top: 140px;}

    #events {top: 180px;}

    #awards {top: 220px;}

    #contact {top: 260px;}

    .fake-smile{
      height: 80%;
      width: 80%;
    }

}

