
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: cover;
}

body{
    color: white;
    background: linear-gradient(to right, #1c1c1c, rgba(0,0,0), #111, #222);
    font-family: "Lato", san-serif;
}

/*start of navbar*/
.navbar{
    background: #fff;
    position: sticky;
    top:0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: black;
    z-index: 1;
    opacity: 0.8;
}
.navbar-center{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
       
}

.nav-icon{
    font-size: 1.5rem;
}

.logo{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}
#logo{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.light-mode {
  background: #fff;
  color: black;
}
/*end of navbar*/
/*hero*/
.hero{
  width: 100%;
  height: 100vh;
  background: url(./media/index.jpeg) center no-repeat;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-size: 58%;
  background-color: #fff;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -85px; /* Position them outside of the screen */
  transition: 0.8s; /* Add transition on hover */
  padding: 10px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  background-attachment: fixed;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The home link: 60px from top */
#index {
  top: 60px;
  background-color: #555;
}

#about {
  top: 110px;
  background-color: #555; 
}

#projects {
  top: 160px;
  background-color: #555; 
}

#events {
  top: 210px;
  background-color: #555; 
}

#awards {
  top: 260px;
  background-color: #555;
}

#contact {
  top: 310px;
  background-color: #555;
}

.description{
  /*padding: 1.5rem 0;*/
  position: relative;
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.group-description{
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
} 

.group-description>div{
  flex: 1;
  width: 100%;
}

.description-paragraph{
  padding: 9rem 0;
  background-color: #F2AA4CFF;
  color: #101820FF;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.description-paragraph p{
  padding: 1rem 0;
  text-align: center;
}

.values{
  width: 100%;
  height: 100%;
}

.values h1{
  text-align: center;
  font-size: 3rem;
  padding: 1.5rem;
}

.values p{
  text-align: center;
}

.values-top{
  background-color: #F9D342;
  color: #292826;
  padding: 2rem 0;
  height: 38vh;
  border-radius: 20px;
}

.values-bottom{
  background-color: #292826;
  color: #F9D342;
  padding: 2rem 0;
  border-radius: 20px;
  height: 38vh;
}

.gallery{
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
}

.gallery >div{
  flex: 1;
}

.gallery img{
  width: 100%;
  border-radius: 20px;
}

.sound-systems{
  background-color: #F9D342;
  color: #292826;
  border-radius: 20px;
}

.sound-systems p{
  padding: 1.2rem;
}

.images{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  background-color: #a3a3a3;
  border-radius: 20px;
}

.partner{
  display: flex;
  padding: 1.5rem;
}

.partner > div{
  flex: 1;
  padding: 1rem 0;
}

.partner-description{
  padding: 1.5rem;
}

.partner-logo div{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 1rem;
}

.partner-logo a{
  color: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.mental360logo{
  width: 73%;
  background-color: #fff;
}

footer{
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: cover;
    float: bottom;
}


ul li{
    text-align: center;
    display: inline-block;
    margin-right: 1px;
    background: linear-gradient(to right, rgba(0,0,0), #222, #333, #444, #a4a4a4);
    padding: 2px 2px;
    border-radius: 3px 3px;
    cursor: pointer;
    transition: all 0.7s ease;
}

ul li:hover{
    font-size: 17px;
    
}

ul li a{
    color: #fff;
}

/*media queries*/
@media screen and (max-width: 1200px) {
  body {
    size: 100%;
  }

  .hero {
    background-size: 100%;
  }

  #mySidenav a{
    left: 0;
    width: 40px;
    font-size: 12px;
  }

  #index {top: 60px;}

    #about {top: 100px;}

    #projects {top: 140px;}

    #events {top: 180px;}

    #awards {top: 220px;}

    #contact {top: 260px;}

  .group-description{
    display: flex;
    flex-direction: column;
    padding: 0 .15rem;
  }

  .description-paragraph{
    padding: .6rem 0;
  }

  .values > div{
    display: flex;
    flex-direction: column;
  }

  .values-top{
    height: 50%;
  }

  .values-bottom{
    height: 50%;
  }

  .gallery{
    display: flex;
    flex-direction: column;
    padding: .15rem;
  }

  .partner{
    display: flex;
    flex-direction: column;
  }

  .parnter-logo >div{
    display: flex;
    flex-direction: column;
  }

  .mental360logo{
    width: 100%;
  }
}
